*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
   text-align: center;
}

.parent{
    height: 300px;
    width: 500px;
    display: flex;                        /* By default */
    flex-direction: column;               /*  */
    flex-direction: column-reverse;       /*  */
    gap: 5px;                            /* To create gap in-between elements only */
    border: 5px solid red;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
}

.child{
    background-color: green;
    color: white;
    font-size: 24px;
    border: 1px solid white;
    height: 100%;
    width: 100%;

    /* By default Row is main axis  & Column is Cross-axis*/ 
    /* We can change main axis to column & cross-axis to row by using property */

}