*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main
{
 height: 50%;
 width: 80%;
 border: 1px solid black;
 border-radius: 5px;
 display: flex; 
}

.main1
{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   
}


#main1
{
  height: 100%;
  background-color: hsl(31, 77%, 52%);
  
}

#main2
{
  height: 100%;
  background-color: hsl(184, 100%, 22%);
}

#main3
{
  height: 100%;
  background-color: hsl(179, 100%, 13%);
}

.logo
{
   margin-left: 20px;
}

.head
{
   font-size: 25px;
   margin-left: 10px;
   color: hsla(0,0%,95%);
}

.p
{
  color: hsla(0,0%,100%,.75); 
}

.buttonn
{
  display: flex;
  justify-content: center;
    
}

.button
{
  height: 40px;
  width: 90px;
  border-radius: 10px;  
  background-color: hsla(0,0%,95%);
}

#button1
{
  color: hsl(31, 77%, 52%);
}
#button2
{
  color:  hsl(184, 100%, 22%);
}
#button3
{
  color: hsl(179, 100%, 13%);
}
