*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
}

#box{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: aquamarine;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: harshJump 5s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes harshJump 
{
       0%{
              background-color: bisque;
       }

       50%{
             background-color: blue;
       }

       100%{
            background-color: chocolate;
       }
}